/************* alteração no header ************/

/*
.header .navbar{
    width: 100%;
	height: 10rem;
	background: var(--light);
    box-shadow: var(--box-shadow);
    -webkit-transition: 2s;
	display: flex;
	align-items: center;
    justify-content: space-between;
	grid-gap: 24px;
	top: -2.1rem;
	left: 0;
    right: 0;
	z-index: 1000;
    position: fixed;
    text-transform: uppercase;
    padding: 1rem 4%;
	border-bottom-left-radius:25%;
	border-bottom-right-radius: 25%;
    border-bottom: .4rem solid var(--yellow);
}

*/
/*******************Sub menu categoria*************************/
nav#categoria {
    float: left;
    left: 2%;
    width: 100%;
    height:auto;
    margin: 0;
    position: absolute;
    transition:2s;
    justify-content: center;
    z-index: 1;
}

nav#categoria ul{
    width: 100%;
    margin: 1px 0px;
    top:-6rem;
    list-style: none;
    position: absolute;
    padding-left:-40%;
    box-sizing: border-box;
    display: flexbox;
    justify-content: center;
    text-align: center;
    
}
nav#categoria  ul li{
    width:10%;
    height:auto;
    display: inline-block;
    position: relative;
    padding:3px;
    border:none;
}
input[type="checkbox"]{display: none;}


/* Este codigo sera utilizado se o usuario iniciar sessao e estiver na home
*Imagem
*Admin
*Sair
*/

/* Navbar styling */
.user_info_menu {
    
    background-color:transparent;
    font-family:(--poppins);
    
}

.user_info_menu ul {
    list-style: none;
    display: flex;
    padding: 2rem;
    
}

.user_info_menu li {
    position: relative;
    justify-content: left;
    justify-items: left;
    
}

.user_info_menu a {
    color:var(--red);
    padding: 2rem;
    text-decoration: none;
    display: block;
    text-align:left;
}
.user_info_menu p{
        font-size: 1.5rem;
        color: var(--red);
        padding: 1rem;
        text-align: center;    
}

/* Change background color on hover */
.navbar a:hover {
    background-color:transparent;
}


/* Dropdown Container  */
.dropdown {
    position: relative;
    width: 100%;
    
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width:100%;
    color:var(--red);
    z-index: 1;
    margin:auto auto 0 -10rem;
    
}

.dropdown-content a {
    font-size: 1.5rem;
    color:var(--red);
    padding: 3rem 1rem 1rem 0;
    
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color:transparent;
    color:var(--red);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display:block;
    color: (--yellow);
}
